<!doctype html>
<html lang="pt-br">

<head>
    <title>Jonatas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <section class="container">
        {{{body}}}
    </section>
</body>

</html>